.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px ;
}
.quadrado{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
}
.quadrado img{
    width: 100%;
}